@inherits DefaultJsComponent

<md-dialog @attributes="AdditionalAttributes" @ref="el"
           open="@(Open)"
           type="@(Type?.ToString().ToLower())"
           @ondiagopen="OnDomOpen"
           @ondiagopened="OnDomOpened"
           @ondiagclose="OnDomClose"
           @ondiagclosed="OnDomClosed"
           @ondiagcancel="OnDomCancelled">
    @if (Headline is not null)
    {
        <div slot="headline">
            @(Headline)
        </div>
    }

    <div slot="content">
        @(ChildContent)
    </div>

    @if (Actions is not null)
    {
        <div slot="actions">
            @(Actions)
        </div>
    }
</md-dialog>