@page "/button"

<PageTitle>Buttons</PageTitle>

<h1>Buttons</h1>

<p><a href="https://m3.material.io/components/buttons">Buttons</a> help people initiate actions, from sending an email, to sharing a document, to liking a post.</p>
<p>There are five types of common buttons: elevated, filled, filled tonal, outlined, and text.</p>

<h2>Types</h2>

<div class="row text-center my-3">
    @foreach (var type in Enum.GetValues<MdButtonType>())
    {
        <div class="col">
            <MdButton @onclick="@(() => clickedType = type.ToString())"
                      ButtonType="@(type)"
                      TrailingIcon="@(trailingIcon)">
                @(type.ToString())

                @if (!string.IsNullOrEmpty(icon))
                {
                    <MdIcon slot="icon">@(icon)</MdIcon>
                }
            </MdButton>
        </div>
    }
</div>

@if (clickedType is null)
{
    <p>You haven't clicked any button</p>
}
else
{
    <p>You clicked: @(clickedType)</p>
}

<div class="row align-items-center">
    <div class="col-auto">
        <label>
            <MdCheckbox @bind-Checked="trailingIcon" />
            Trailing Icon
        </label>
    </div>
    <div class="col">
        <MdTextField @bind-Value="icon"
                     Label="Icon"
                     class="w-100"
                     HasLeadingIcon="false">
            <MdIcon slot="leading-icon">Emoticon</MdIcon>
        </MdTextField>
    </div>
</div>

@code {

    string? clickedType;
    string icon = "send";
    bool trailingIcon;

}