@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<div>
    <MdButton id="btn-focus-ring">
        <MdFocusRing Inward for="btn-focus-ring" />
        Ring button
    </MdButton>
</div>

<MdDivider class="my-3" />

<div>
    @foreach (var variant in Enum.GetValues<MdFabVariant>())
    {
        @foreach (var size in Enum.GetValues<MdFabSize>())
        {
            <MdFab Variant="variant" Size="size">
                <MdIcon slot="icon">edit</MdIcon>
            </MdFab>

            <MdFab Variant="variant" Size="size" Label="Edit">
                <MdIcon slot="icon">edit</MdIcon>
            </MdFab>

            <MdFab Variant="variant" Size="size" Branded>
             <MdIcon slot="icon">edit</MdIcon>
         </MdFab>

            <MdFab Variant="variant" Size="size" Label="Edit" Branded>
             <MdIcon slot="icon">edit</MdIcon>
         </MdFab>
        }
    }
</div>

<MdDivider class="my-3" />

<div>
    <p>
        <MdButton @onclick="ShowDialogAsync">
            Show Dialog
        </MdButton>

    </p>

    <p>
        Dialog is showing: @(showDialog).
        Return value: @(dialogReturnValue).
        Entered Name: @(diagName).
    </p>

    <MdDialog @bind-Open="showDialog" @ref="diag" Type="MdDialogType.Alert">
        <Actions>
            <MdButton value="Cancel" form="frm-diag" ButtonType="MdButtonType.Text">Cancel</MdButton>
            <MdButton value="Ok" form="frm-diag" ButtonType="MdButtonType.Tonal">Ok</MdButton>
        </Actions>

        <ChildContent>
            <form id="frm-diag" method="dialog">
                Enter your name:
                <input @bind="diagName" type="text" name="name" />
            </form>
        </ChildContent>
    </MdDialog>
</div>

<MdDivider />

<p>
    <MdChipset Type="ChipType.Input">
        <MdFilterChip Label="Filter Chip" @bind-Selected="chipSelected" />
        <MdInputChip Label="Input Chip"
                     OnRemove="@(() => Console.WriteLine("Remove"))" />
    </MdChipset>
</p>

<p>
    First chip selected: @(chipSelected)
</p>

<p>
    <MdButton ButtonType="MdButtonType.Outlined">
        Back
    </MdButton>

    <MdButton ButtonType="MdButtonType.Filled">
        Complete
    </MdButton>

    <MdButton ButtonType="MdButtonType.Tonal">
        <md-icon slot="icon">send</md-icon>
        Send
    </MdButton>

    <MdButton ButtonType="MdButtonType.Outlined">
        Outlined
    </MdButton>

    <MdButton ButtonType="MdButtonType.Text">
        Text
    </MdButton>
</p>

<p>
    <MdCheckbox @bind-Checked="checkboxChecked">
        Some Label
    </MdCheckbox>

    <MdCheckbox Checked />
     <MdCheckbox Indeterminate />
 </p>

 <p>
     Checkbox checked: @(checkboxChecked)
</p>
