@page "/radio-button"

<ComponentDemoPage Name="Radio button"
                   DesignUrl="https://m3.material.io/components/radio-button"
                   ComponentUrl="https://material-web.dev/components/checkbox/"
                   ComponentSourcePath="radio"
                   BlazorComponentSourcePath="Radio/MdRadio.razor"
                   BlazorDemoSourceName="Radio">
    <Description>
        Radio buttons let people select one option from a set of options
    </Description>
    <ComponentDemo>
        <h4>Simple radio buttons</h4>

        <div>
            <MdIcon>warning</MdIcon>
            There is no way to detect when a radio button is unchecked.
            <code>@@bind-Checked</code> is therefore can only set the value to <code>true</code> and not back to <code>false</code>:
        </div>

        <div class="hstack gap-3">
            @for (int i = 0; i < Options1.Length; i++)
            {
                var z = i;
                var item = Options1[z];

                <label>
                    <MdRadio @bind-Checked="isChecked[z]" Name="opt-group-1" TValue="string"
                             Disabled="@(z == Options1.Length - 1)" />
                    @(item)
                </label>
            }
        </div>

        <div>
            Checked: @(string.Join(", ", isChecked))
        </div>

        <div>
            The more appropriate way is to store the selected value using <code>OnChecked</code> event instead:
        </div>

        <div class="hstack gap-3">
            @for (int i = 0; i < Options2.Length; i++)
            {
                var z = i;
                var item = Options2[z];

                <label>
                    <MdRadio Checked="lastChecked == item" Name="opt-group-2"
                             TValue="string" OnChecked="OnRadioSelected"
                             Disabled="@(z == Options2.Length - 1)"
                             Value="@(item)" />
                    @(item)
                </label>
            }
        </div>

        <div class="hstack gap-3">
            @for (int i = 0; i < Options3.Length; i++)
            {
                var z = i;
                var item = Options3[z];

                <label>
                    <MdRadio Checked="lastCheckedNumber == item" Name="opt-group-3"
                             TValue="double" OnChecked="OnNumberRadioSelected"
                             Disabled="@(z == Options3.Length - 1)"
                             Value="@(item)" />
                    @(item)
                </label>
            }
        </div>

        <div>
            Checked: @(lastChecked), @(lastCheckedNumber).
        </div>

        <h4>Use MdRadioGroup</h4>

        <div>
            Alternatively, Blazor Material Web provides <code>MdRadioGroup</code>
            that handles it automatically. It also provides a <code>CascadingParameter</code> for <code>Name</code> and <code>Checked</code> properties.
        </div>

        <MdRadioGroup Name="opt-blazor-group" @bind-Value="lastCheckedBlazor" @bind-Value:after="AfterBlazorBindValue">
            <div class="hstack gap-3">
                @foreach (var item in Options1)
                {
                    <label>
                        <MdRadio Value="@(item)" Disabled="@(item == "Disabled")" />
                        @(item)
                    </label>
                }
            </div>
        </MdRadioGroup>

        <MdRadioGroup Name="opt-blazor-number-group" @bind-Value="lastCheckedNumberBlazor">
            <div class="hstack gap-3">
                @foreach (var item in Options3)
                {
                    <label>
                        <MdRadio Value="@(item)" Disabled="@(item == 0)" />
                        @(item)
                    </label>
                }
            </div>
        </MdRadioGroup>

        <div>
            Checked: @(lastCheckedBlazor), @(lastCheckedNumberBlazor).
        </div>
    </ComponentDemo>
    <Tweaks>
        <div class="hstack gap-3">
            <MdButton @onclick="() => SelectIndex(1)">
                Programmatically select the 2nd option
            </MdButton>

            <MdButton @onclick="() => SelectIndex(Options1.Length - 1)">
                Select the disabled option
            </MdButton>
        </div>

    </Tweaks>
</ComponentDemoPage>

@code {

    static readonly string[] Options1 = { "Cats", "Dogs", "Birds", "Disabled", };
    static readonly string[] Options2 = { "Apples", "Apricots", "Bananas", "Disabled", };
    static readonly double[] Options3 = { 1.618, 2.71828, 3.14, 0 };

    bool[] isChecked = new bool[Options1.Length];
    string lastChecked = Options2[0];
    double lastCheckedNumber = Options3[0];

    string lastCheckedBlazor = Options1[0];
    double lastCheckedNumberBlazor = Options3[0];

    public Radio()
    {
        isChecked[0] = true;
    }

    void SelectIndex(int index)
    {
        for (int i = 0; i < isChecked.Length; i++)
        {
            isChecked[i] = i == index;
        }

        lastChecked = Options2[index];
        lastCheckedNumber = Options3[index];
        lastCheckedBlazor = Options1[index];
        lastCheckedNumberBlazor = Options3[index];
    }

    void OnRadioSelected(string value)
    {
        lastChecked = value ?? "None";
    }

    void OnNumberRadioSelected(double value)
    {
        lastCheckedNumber = value;
    }

    void AfterBlazorBindValue()
    {
        Console.WriteLine("Value bound to " + lastCheckedBlazor);
    }

}